<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>
<body>
   <h1>Homepage</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, omnis possimus quisquam perspiciatis eaque incidunt delectus vero pariatur porro, expedita ex aut vel similique! A eos nesciunt ratione quo ullam.</p>

   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, voluptate mollitia! Adipisci nostrum veniam ea similique consectetur quisquam voluptas corporis repudiandae ducimus architecto cupiditate iste, tenetur iure facilis nesciunt dignissimos!</p>
</body>
</html>